# Appendix: Python Tutorial

This optional tutorial demonstrates the features of the Python language and of Jupyter Notebook that are used in the examples and tutorials of the textbook. Special attention is given to the most important data types used in data analysis workflows, as well as common idioms and patterns employed in these use-cases. This appendix may be especially useful for readers more experienced in programming languages other than Python.

Contents:

1. [Jupyter Notebook](#1.-Jupyter-Notebook)
2. [Conditionals](#2.-Conditionals)
3. [Lists](#3.-Lists)
4. [Loops](#4.-Loops)
5. [Tuples](#5.-Tuples)
6. [Dictionaries](#6.-Dictionaries)
7. [Combining Data Types](#7.-Combining-Data-Types)

# 1. Jupyter Notebook

Even if you're well-versed in Python, you may not have used Jupyter Notebook before. The main idea is that we can mix text and code, and that code is executed in "cells." By clicking on a cell and pressing Shift + Enter, you execute the cell and move to the next cell. Ctrl + Enter executes the cell but does not move to the next cell. You can run many cells at once by using the different options in the "Cell" menu.

Try executing the code in the next cell and observe that the output is printed below the cell.

In [1]:
print('Hello from Jupyter')

Hello from Jupyter

## 1.1 Printing and inspecting variables

In Jupyter notebooks, we have two different ways of inspecting variables. Python's `print()` function is useful as always:

In [2]:
my_str = 'Hello'
my_int = 16

print(my_str)
print(my_int)

Hello
16

We can also just execute a cell with the name of a variable:

In [3]:
my_str

'Hello'

The big difference here between the two approaches is that `print()` statements can output multiple items per cell, while the latter approach will only display the last variable named. Observe:

In [4]:
my_str
my_int

16

As opposed to the first example using `print()`, this only outputs the last value.

## Nota Bene
One key advantage of presenting information in this notebook format is that it allows you to change and re-run the code cells, then see how the output differs. Don't be afraid to experiment!

# 2. Conditionals

"Conditionals" is a fancy word for if-statements. If you've ever done any programming, you are surely aware of the if-then-else construction. In Python it's done as follows:

In [5]:
number_of_apples = 5

if number_of_apples < 1:
    print('You have no apples')
elif number_of_apples == 1:
    print('You have one apple')
elif number_of_apples < 4:
    print('You have a few apples')
else:
    print('You have many apples!')

You have many apples!

You can change `number_of_apples` and re-run the previous cell in order to get the different possible outputs.

# 3. Lists

One of Python's most versatile and ubiquitous data types is the List ([Python documentation](https://docs.python.org/3/library/stdtypes.html#list)). This is an **ordered**, **mutable**, **collection** of **non-unique** items.

## 3.1 Ordered

By *ordered*, we mean that the items are addressed by their *index* in the collection:

In [6]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']
student_names[1]

'Bob'

Indices in Python start at zero, so the head of the list has index 0:

In [7]:
student_names[0]

'Alice'

We can get the last item in a list by using negative indexing:

In [8]:
student_names[-1]

'Dave'

Lists can also be *sliced* to get a subset of the list items:

In [9]:
student_names[0:2]

['Alice', 'Bob']

In [10]:
student_names[1:3]

['Bob', 'Carol']

When slicing from the beginning of the list, or to the end of the list, we can leave out the index:

In [11]:
student_names[:2]

['Alice', 'Bob']

In [12]:
student_names[2:]

['Carol', 'Dave']

## 3.2 Mutable

By *mutable*, we mean that the list can be changed by adding or removing items. We most often add items to the end of the list with `.append()`:

In [13]:
student_names.append('Esther')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

But we can also add items at any arbitrary index with `.insert()`:

In [14]:
student_names.insert(2, 'Xavier')
student_names

['Alice', 'Bob', 'Xavier', 'Carol', 'Dave', 'Esther']

We can delete items with the `del` keyword:

In [15]:
del student_names[2]
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

## 3.3 Non-unique

Note that nothing stops us from repeatedly adding the same name to this list:

In [16]:
student_names.append('Esther')
student_names.append('Esther')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther', 'Esther', 'Esther']

If you want a collection where uniqueness is enforced, you should look towards
[sets](https://docs.python.org/3/library/stdtypes.html#set)
or
[dictionaries](https://docs.python.org/3/library/stdtypes.html#dict).

## 3.4 Collection

A collection refers to a data type consisting of more than one values. Lists are one type of collection, but there are others such as tuples, sets, and dictionaries.

When naming your variables that contain lists, you should use plural nouns, *e.g.* `student_names` in the previous example. In contrast, single values should be named with singular nouns, *e.g.* `my_str` in the first section. This helps you and others reading your code keep straight which variables are collections and which are single items, and also helps when writing loops as shown in the next section.

# 4. Loops

If you're coming from another programming language, you're probably aware of more than one type of loop. In Python, we focus on one type of loop in particular: the for-loop. The for-loop iterates through a collection of items, executing its code for each item:

In [17]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

for student_name in student_names:
    print('Hello ' + student_name + '!')

Hello Alice!
Hello Bob!
Hello Carol!
Hello Dave!

## 4.1 Naming conventions

Note the naming convention being used in the for-in construction:

    for student_name in student_names:
    
By using a plural noun for the collection `student_names`, we automatically have good name for the individual items in the collection: `student_name`. The tutorials in this book use this naming convention when possible as it makes clear to the reader which variable is the "loop variable" that changes value between iterations of the loop body.

## 4.2 Loops, lists, and conditionals

One extremely common type of task when working with data is the *filtering task*. In abstract, this task involves looping over one collection, checking each item for some criterion, then adding items that meet the criterion to another collection.

In the following example, we'll create a list of just the "long" names from the `student_names` list. Long names are those that contain more than four characters. You will often see and write code that looks like the following in this book's tutorials:

In [18]:
# Initialize an empty list and add to it the
# student names containing more than four characters
long_names = []
for student_name in student_names:
    # This is our criterion
    if len(student_name) > 4:
        long_names.append(student_name)

long_names

['Alice', 'Carol']

## 4.3 Nested loops

Loops can be "nested" inside one another. This often occurs when we want to match up items from one collection to items from the same or another collection. Here let's create a list of all possible pairs of students:

In [19]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('Alice', 'Alice'),
 ('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Bob'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave')]

Note here that instead of just adding names to the `student_pairs` list, we are adding *tuples* `(student_name, language)`. This means each item in the list is a 2-tuple:

In [20]:
student_pairs[0]

('Alice', 'Alice')

We'll talk more about tuples in the next section. The second thing to notice is that we're including pairs with two of the same student. Suppose we wish to exclude those. We can accomplish this by adding an if-statement in the second for-loop to *filter* out those repeats:

In [21]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        # This is the criterion we added
        if student_name_0 != student_name_1:
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol')]

And now the list has no repeats.

# 5. Tuples

Even experienced Python users often are confused about the difference between tuples and lists, so definitely read this short section even if you have some experience.

Tuples ([documentation](https://docs.python.org/3/library/stdtypes.html#tuple)) are superficially similar to lists as they are an ordered collection of non-unique items:

In [22]:
student_grade = ('Alice', 'Spanish', 'A-')
student_grade

('Alice', 'Spanish', 'A-')

In [23]:
student_grade[0]

'Alice'

## 5.1 Immutable

The big difference from lists is that tuples are **immutable**. Each of the following cells should raise an exception.

In [24]:
student_grade.append('IU Bloomington')

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
del student_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
student_grade[2] = 'C'

TypeError: 'tuple' object does not support item assignment

This immutability makes tuples useful when **index matters**. In this example, the index matters semantically: index 0 is the student's name, index 1 is the course name, and index 2 is their grade in the course. The inability to insert or append items to the tuple means that we are certain that, say, the course name won't move around to a different index.

## 5.2 Unpacking

Tuples' immutability makes them useful for *unpacking*. At its simplest, tuple unpacking allows the following:

In [27]:
student_grade = ('Alice', 'Spanish', 'A-')
student_name, subject, grade = student_grade

print(student_name)
print(subject)
print(grade)

Alice
Spanish
A-

While occasionally useful on its own, tuple unpacking is most useful when used with loops. Consider the following piece of code, which congratulates students on getting good grades:

In [28]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
              'on getting an', grade,
              'in', subject)

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

Compare this to the same code using indices:

In [29]:
for student_grade in student_grades:
    if student_grade[2].startswith('A'):
        print('Congratulations', student_grade[0],
              'on getting an', student_grade[2],
              'in', student_grade[1])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

Tuple unpacking allows us to easily refer to this structured data by semantic names instead of having to keep the indices straight. The second example, while functionally identical, is more difficult to write and harder still to read.

# 6. Dictionaries

The next type of collection is much different than the previous two, but is among the most powerful tools in Python: the dictionary ([documentation](https://docs.python.org/3/library/stdtypes.html#dict)). The dictionary is an **unordered**, **mutable**, collection of **unique** items. In other languages these are called maps, mappings, hashmaps, hashes, or associative arrays.

## 6.1 Unordered

By unordered, we mean that dictionary items aren't referred to by their position, or index, in the collection. Instead, dictionary items have *keys*, each of which is associated with a value. Here's a very basic example:

In [30]:
foreign_languages = {
    'Alice': 'Spanish',
    'Bob': 'French',
    'Carol': 'Italian',
    'Dave': 'Italian',
}

Here the student names are the keys and the students' foreign language courses are the values. So to see Carol's foreign language, we use the key -- her name -- instead of an index:

In [31]:
foreign_languages['Carol']

'Italian'

Trying to get the value for a key that does not exist in the dictionary results in a `KeyError`:

In [32]:
foreign_languages['Zeke']

KeyError: 'Zeke'

We can check if a particular key is in a dictionary with the `in` keyword:

In [33]:
'Zeke' in foreign_languages

False

In [34]:
'Alice' in foreign_languages

True

Note that keys are case-sensitive:

In [35]:
'alice' in foreign_languages

False

## 6.2 Mutable

We can add, delete, and change entries in a dictionary:

In [36]:
# Add an entry that doesn't exist
foreign_languages['Esther'] = 'French'
foreign_languages

{'Alice': 'Spanish',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'French'}

In [37]:
# Delete an entry that exists
del foreign_languages['Bob']
foreign_languages

{'Alice': 'Spanish', 'Carol': 'Italian', 'Dave': 'Italian', 'Esther': 'French'}

In [38]:
# Change an entry that does exist
foreign_languages['Esther'] = 'Italian'
foreign_languages

{'Alice': 'Spanish',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'Italian'}

## 6.3 Unique
Note that the syntax for adding an entry that does not exist and changing an existing entry are the same. When assigning a value to a key in a dictionary, it adds the key if it doesn't exist, or else updates the value for the key if it does exist. As a consequence, keys are necessarily *unique* -- there can't be more than one element with the same key in a dictionary.

## 6.4 Looping over dictionaries

While not performed as often as with lists, it is possible to loop over entries in a dictionary. There are two ways to accomplish this task:

In [39]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [40]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

Here I'm using variables named `key` and `value` to show the general principle. When you write loops over dictionaries in your own code, you should use descriptive names as opposed to `key` and `value`.

## 6.5 Dictionaries as records

In `foreign_languages` we have paired data -- every name is associated with a subject. Dictionaries are also often used to contain several different data about a single entity. To illustrate this subtle difference, let's take a look at one item from `student_grades`:

In [41]:
student_grade = ('Alice', 'Spanish', 'A')

Here we know that the items in each of these tuples is a name, subject, and grade:

In [42]:
student_name, subject, grade = student_grades[0]
print(student_name, 'got a grade of', grade, 'in', subject)

Alice got a grade of A in Spanish

We could instead represent this data as a dictionary and use it as such. A dictionary of information describing a single item is often referred to as a *record*:

In [43]:
record = {
    'name': 'Alice',
    'subject': 'Spanish',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Alice got a grade of A in Spanish

While the code is slightly longer, there is absolutely no ambiguity here about matching up indices and what each value represents. This is also useful in contexts where some of the fields might be optional.

# 7. Combining Data Types

In most of these simple examples we've worked with collections of simple values like strings and numbers, however data analysis often involves working with complex data, where each item of interest has several data associated with it. These complex data are often represented as collections of collections, *e.g.,* lists of dictionaries.

Choosing the appropriate data types for a given problem will make it easier for you to write bug-free code and will make your code easier for others to read, but identifying the best data types is a skill gained through experience. Some of the commonly-used combination data types are illustrated below, but this is hardly exhaustive.

## 7.1 List of tuples

We've actually seen this one before. Consider the `student_grades` data from the earlier example on tuple unpacking:

In [44]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

This is a list of tuples:

In [45]:
student_grades[1]

('Bob', 'French', 'C')

and we can work with the individual tuples as such:

In [46]:
student_grades[1][2]

'C'

## 7.2 List of dictionaries

In the section on dictionaries, we explored how dictionaries are often used to contain several data about a single entity, and each such dictionary is sometimes called a *record*. Let's convert the list of tuples `student_grades` into a list of records `student_grade_records`:

In [47]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

Now each item in the list is a dictionary:

In [48]:
student_grade_records[1]

{'name': 'Bob', 'subject': 'French', 'grade': 'C'}

and we can work with the individual records as such:

In [49]:
student_grade_records[1]['grade']

'C'

This list-of-dicts is often used to represent data from a database or an API. Let's use this data to write our code congratulating students for good grades, as we did in the section on tuple unpacking:

In [50]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

## 7.3 Dictionary of dictionaries

The list of dictionaries is very useful when dealing with non-unique data; in the previous example each student might have several grades from different classes. But sometimes we want to refer to the data by a particular name or key. In this case, we can use a dictionary whose values are records, *i.e.*, other dictionaries.

Let's use data from `student_grades` again, but assume we just want the foreign language grade so we can use the students name as a key:

In [51]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Alice': {'subject': 'Spanish', 'grade': 'A'},
 'Bob': {'subject': 'French', 'grade': 'C'},
 'Carol': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'Italian', 'grade': 'A-'}}

Now we can refer to these by student name:

In [52]:
foreign_language_grades['Alice']

{'subject': 'Spanish', 'grade': 'A'}

And we can get the individual data that we care about:

In [53]:
foreign_language_grades['Alice']['grade']

'A'

## 7.4 Dictionary with tuple keys

It is occasionally useful to key dictionaries on more than one data. Dictionaries can use any immutable object as a key, which includes tuples. Continuing with our student grades example, we may want the keys to be the student name and subject:

In [54]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

Now we can represent all of a student's grades:

In [55]:
student_course_grades['Alice', 'Math'] = 'A'
student_course_grades['Alice', 'History'] = 'B'

In [56]:
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

## 7.5 Another dictionary of dictionaries

Let's take advantage of the fact that, for a particular student, we often want to get subject-grade pairs, *i.e.* a report card. We can create a dictionary with student names as keys and the values being dictionaries of subject-grade pairs. In this case we need to do a bit of checking; that step is commented below:

In [57]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    # If there is no report card for a student,
    # we need to create a blank one
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade

In [58]:
student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

The advantage of this extra work is that we can now easily have multiple grades per student:

In [59]:
student_report_cards['Alice']['Math'] = 'A'
student_report_cards['Alice']['History'] = 'B'

In [60]:
student_report_cards

{'Alice': {'Spanish': 'A', 'Math': 'A', 'History': 'B'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

And we can easily fetch a student's "report card":

In [61]:
student_report_cards['Alice']

{'Spanish': 'A', 'Math': 'A', 'History': 'B'}